<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
     <link rel="shortcut icon" th:href="@{/img/book.svg}">
    <script type="text/javascript" th:src="@{/script/jquery-1.7.2.js}"></script>
</head>
<body>
<div class="container">
    <div class="login-box">
        <h2 class="login-title">
            <span>已有账号，去</span>登录
        </h2>
        <div class="error_msg" th:text="${msg}"></div>
        <form action="signIn" method="post">
            <div class="input-box">
                <input type="text" placeholder="用户名" name="username">
                <input type="password" placeholder="密码" name="password">
            </div>
            <button type="submit" >登录</button>
        </form>
    </div>
    <div class="register-box slide-up">
        <div class="center">
            <h2 class="register-title">
                <span>没有账号，去</span>注册
            </h2>
            <div class="error_msg" th:text="${session.msg}"></div>
            <form action="signUp" method="post">
                <div class="input-box">
                    <input type="text" placeholder="用户名" name="username" id="username">
                    <input type="password" placeholder="密码" name="password" id="password">
                    <input type="password" placeholder="确认密码" id="repwd">
                    <input type="text" placeholder="邮箱" name="email" id="email">
                    <input type="text" placeholder="验证码" name="code" style="width: 140px;border:0" id="code">
                    <img id="code_img" alt="" src="kaptcha" style="float: right; margin-right: 20px; width: 80px; height: 30px; padding-top: 8px; padding-bottom: 8px">
                </div>
                <button type="submit" id="sub_btn">注册</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/script/login.js}"></script>
</body>
</html>